{% extends "settings/settings.html" %}
{% load static %}
{% load i18n %}
{% load horilla_tags %}

{% block settings %}
    {% has_perm "horilla_duplicates.view_matchingrule" as can_view_duplicates %}
    {% if can_view_duplicates %}
        <div id="duplicate-management-view">
            <button
                id="reloadButton"
                hx-get="{{ request.path }}?{{request.GET.urlencode}}"
                hx-target="#duplicate-management-view"
                hx-swap="outerHTML"
                hx-select="#duplicate-management-view"
                hidden
            >
                click
            </button>
            <div id="navBar" hx-get="{{ nav_url}}?{{request.GET.urlencode}}" hx-trigger="load"></div>
            <div id="mainSession" hx-get="{{ list_url }}?{{request.GET.urlencode}}" hx-trigger="load"></div>
        </div>
    {% else %}
        {% include "error/403.html" %}
    {% endif %}
{% endblock %}
