<div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-dark-50">
        <thead>
            <tr class="border border-dark-50">
                <th class="py-2 px-4 border border-dark-50">Company Name</th>
                <th class="py-2 px-4 border border-dark-50">Email</th>
                <th class="py-2 px-4 border border-dark-50">Contact Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="py-2 px-4 border border-dark-50">Company A</td>
                <td class="py-2 px-4 border border-dark-50">companya@example.com</td>
                <td class="py-2 px-4 border border-dark-50">9876543210</td>
            </tr>
            <tr>
                <td class="py-2 px-4 border border-dark-50">Company B</td>
                <td class="py-2 px-4 border border-dark-50">companyb@example.com</td>
                <td class="py-2 px-4 border border-dark-50">9876543211</td>
            </tr>
            <tr>
                <td class="py-2 px-4 border border-dark-50">Company C</td>
                <td class="py-2 px-4 border border-dark-50">companyc@example.com</td>
                <td class="py-2 px-4 border border-dark-50">9876543212</td>
            </tr>
            <tr>
                <td class="py-2 px-4 border border-dark-50">Company D</td>
                <td class="py-2 px-4 border border-dark-50">companyd@example.com</td>
                <td class="py-2 px-4 border border-dark-50">9876543213</td>
            </tr>
        </tbody>
    </table>
</div>
