{% load static %} {% load i18n %} {% load horilla_tags %}
<div class="flex rounded-md overflow-hidden">
    {% has_perm "horilla_mail.view_horillamailconfiguration" as can_view_horillamailconfiguration %}
    {% has_perm "horilla_mail.change_horillamailconfiguration" as can_change_horillamailconfiguration %}
    {% has_perm "horilla_mail.delete_horillamailconfiguration" as can_delete_horillamailconfiguration %}

    {% if can_view_horillamailconfiguration  %}
        {% if instance.type == 'mailjet' %}
            <button class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
                    title="Send Test Mail via Mailjet"
                    hx-get="{% url 'horilla_mail:mailjet_send_test_email_view'  %}?instance_id={{instance.id}}&{{ request.GET.urlencode}}"
                    hx-target ="#modalBox"
                    hx-on:click="openModal()"
                    hx-swap="innerHTML">
                    <img src="{% static 'assets/icons/outgoing.svg' %}" alt="{% trans 'Test Mailjet' %}" width="17" />
            </button>
        {% endif %}
    {% endif %}
    {% if can_change_horillamailconfiguration  %}
      <button class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
          title="Edit"
          hx-get="{% url "horilla_mail:mailjet_mail_server_update_view" instance.id  %}?{{ request.GET.urlencode}}"
          hx-target ="#modalBox"
          hx-on:click="openModal()"
          hx-swap="innerHTML">
          <img src="{% static 'assets/icons/edit.svg' %}" alt="{% trans 'Edit' %}" width="17" />
      </button>
    {% endif %}
    {% if can_delete_horillamailconfiguration  %}
        <button class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            title="Delete"
            hx-get="{% url "horilla_mail:mailjet_mail_server_delete_view" instance.id  %}?{{ request.GET.urlencode}}"
            hx-target="#deleteModeBox"
            hx-vals='{"check_dependencies": "true"}'
            hx-on:click="openDeleteModeModal()"
            hx-swap="innerHTML">
            <img src="{% static 'assets/icons/a4.svg' %}" alt="{% trans 'Delete' %}" width="17" />
        </button>
    {% endif %}
</div>
